.App {
  text-align: center;
}
 
/* Gonna see if i can get this guy to not be the main */
.App-main {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

#button:active{
  transform: translateY(-5px);
}

/* Styles concerning the container */
.upload-container{
  background-color: aliceblue;
  height: 75vh;
  width: 50vw !important;
  font-size: 34px;
  color: black;
  border-radius: 1em;
  position: absolute;
}

/* Nice */
.container_header{
  border-radius: 1em 1em 0 0;
  background-color: aqua;
}

.container_upload{
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.export_btn{
  cursor: pointer;
  font-size: 30px;
  background: lightcoral;
  border-radius: 20px;
  padding: 30px;
}

.custom-file-upload{
  border: 2px dashed #999;
  color: black;
  height: 3em;
  width: 6em;
  background-color: transparent;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.custom-file-upload:hover{
  border: none;
  box-shadow: 0 0 10px 5px #ddd;
  background-color: #ddd;
  transition: 0.2s ease-in;
  transform: translateY(-5px);
}

.clear_files{
  border: 1px solid #ccc;
  color: aliceblue;
  background-color: darkred;
  padding: 12px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 20px;
}

.clear_files:hover{
  background-color: transparent;
  color: #000;
}

.upload-container #h3{
  margin: 10px;
}

/* Dialog styling below */
.dialog_title {
  font-size: 30px !important;
  color: #fff;
}

.dialog_title_container_error {
  display: flex;
  justify-content: center;
  background-color: darkred;
}

.dialog_title_container_success {
  display: flex;
  justify-content: center;
  background-color: lightgreen;
}